.form {
  background-color: white;
  border-radius: 8px;
  padding: 2px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.forminput {
  display: block;
  width: 100%;
  border: none;
  color: black;
  font-size: 16px;
}
.forminput:focus {
  outline: none;
}
.formbutton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #f7ca18;
  padding: 12px 20px;
  color: black;
  cursor: pointer;
}
.formcontainer {
  display: flex;
}
